argparse==1.4.0
certifi==2023.7.22
charset-normalizer==3.3.2
Cython==3.0.5
docopt==0.6.2
earcut==1.1.5
idna==3.4
importlib-metadata==6.8.0
laspy==2.5.1
laszip==0.2.3
lazrs==0.5.3
llvmlite==0.41.1
lz4==4.3.2
numba==0.58.1
numpy==1.22.4
pipreqs==0.4.13
plyfile==1.0.1
psutil==5.9.6
psycopg2-binary==2.9.9
py3dtiles==6.0.0
pyproj==3.5.0
pyzmq==25.1.1
requests==2.31.0
urllib3==2.0.7
yarg==0.1.9
zipp==3.17.0
